<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> <%= user.local.forumname %></h3>
					<p>
						<strong>PFS ID</strong>:       <%= user.local.pfsid %><br>
						<strong>Status</strong>:      <%= user.local.status %><br>
						<strong>Timestamp</strong>:   <%= user.local.timestamp %><br>
						<% if(user.local.status == "Active") { %>
                            <a href="/deactivate" class="btn btn-default btn-sm">Remove me from list</a>
                        <% } %>
                        <% if(user.local.status == "Inactive") { %>
                            <a href="/activate" class="btn btn-default btn-sm">Add me to the list</a>
                        <% } %>
                        <% if(user.local.status == "Calling") { %>
                            <strong>Being called by: </strong> <%= user.local.calledby %><br>
                            <a href="/pass" class="btn btn-default btn-sm">Pass up on this call</a>
                        <% } %>
                        <% if(user.local.status == "Calling") { %>
                            <strong>Being called by: </strong> <%= user.local.calledby %><br>
                            <a href="/accept" class="btn btn-default btn-sm">Accept the call</a>
                        <% } %>
                        
					</p>

			</div>
		</div>
		<div class="col-sm-6">
			<div class="well">
                <h3><span class="fa fa-user"></span> GM Dashboard</h3>
                <% if(!user.local.dmactive) { %>
                <p>Please send DM Kludde a private message if you want to be able to call players</p>
                <% } %>
            </div>
        </div>

	</div>

</div>
</body>
</html>
